<center>
<body class="background">		
   <center><h1 class="titlecolor" >Welcome To The Hangman Game!</h1>
    <h2 class="header">Please enter your name<h2>
    <form action="player_names" method="post">
	<h3 class="playerone">Player 1:
	<input type= name="texts" name="player1"></h3>
	<h3 class="playertwo" >Player 2:
	<input type="text" name="player2"></h3>
		<br>
		<br>
	<input type="submit" value="Submit">
    </form>
 	
</body>	