<center>
	<body class="backgrounnnnnd"><h1  style= color:lightgreen><%=p1_name%> Wins!
<%=p2_name%> is the Loser!
word was <%=word%></center><h2><a href="/">Start A New Game</a><center></h2>
</center>
<img src="https://image.flaticon.com/icons/png/512/43/43980.png">
