<center>
	<body class="backgrounnnnnd">
<body class="backgrounnnd">
	<h1  style= color:lightgreen><%=p2_name%> Wins!
	<%=p1_name%> loses
	<a href="/">Start a New Game</a></h1>
<img src="https://t3.ftcdn.net/jpg/01/07/31/48/240_F_107314824_sZFb5Gky3202H2x93do25iyYlpma3eul.jpg">
</center>